:root {
  --background-color: #f4d04e;
  --card-color: #fff;
  --primary-text-color: #111111;
  --secundary-text-color: #6b6b6b;
  --font-family: "Figtree", serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: solid 1px var(--primary-text-color);
  background-color: var(--background-color);
  font-family: var(--font-family);
}
#card {
  display: flex;
  flex-direction: column;
  width: 384px;
  height: 522px;
  background-color: var(--card-color);
  border-radius: 20px;
  padding: 24px;
  gap: 24px;
  box-shadow: 8px 8px 0px 0px;
  border: solid 1px var(--primary-text-color);
}

.card__img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}
#card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}
#card__content h1 {
  width: 336px;
  height: 36px;
  font-size: 24px;
  color: var(--primary-text-color);
}

#card__tag {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  width: 82px;
  height: 29px;
  gap: 8px;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
}
#card__tag p {
  width: 58px;
  height: 21px;
  font-size: 14px;
}

#card__text {
  font-size: 16px;
  width: 336px;
  height: 72px;
  font-weight: medium;
  color: var(--secundary-text-color);
}
#card__title {
  font-size: 8px;
  font-weight: medium;
}
#date-post {
  width: 143px;
  height: 21px;
  font-size: 14px;
}
#card__content h1:hover {
  cursor: pointer;
  color: var(--background-color);
}
#card__author {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 129px;
  height: 32px;
  gap: 12px;
  font-size: 14px;
  font-weight: bold;
}
#card__author img {
  width: 32px;
  height: 32px;
}
